.post {
    border-bottom: 2px solid #ccc;
    margin: 10px 0 15px;
    padding: 10px 20px;
}

.post .title {
    padding-bottom: 10px;
    border-bottom: 2px black solid;
}

.post .author {
    color: cadetblue;
}
.post .author::after {
    content: " -";
}

.post .tags {
    margin: 5px 0;
}
.post .tags .tag {
    margin: 0 5px 0 0;
    padding: 3px 7px;
    background-color: teal;
    color: white;
    border-radius: 3px;
}
